@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: rgb(241 245 249);
  font-family: monospace;
  color: rgb(51, 65, 85);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
